    @media screen and (max-width: 900px) {
        .container {
            .card {
                width: auto;
                max-width: 600px;
                align-items: flex-start;
                &:hover {
                    height: 600px;
                }
                &:hover img {
                    left: 50%;
                    height: 350px;
                }
                .content {
                    width: 100%;
                    left: 0;
                    padding: 40px;
                }
            }
        }
    }
    
    @media screen and (max-width: 767px) {
        .container {
            flex-direction: column;
        }
    }
    
    @media screen and (max-width: 420PX) {
        .container {
            .card {
                .content {
                    padding: 30px;
                }
                &:hover img {
                    height: 300px
                }
            }
        }
    }